@page "/counter"
@page "/counter/{CounterStart}"

<h1>Counter Parent</h1>

<p>Parent Current count: @currentCount</p>

<CounterChild CounterVal="@currentCount" ButtonClicked="UpdateCounter" />

@code { }