@page "/TwoWayBindingBase"
@inherits TwoWayBindingBaseMethodBase
 

<h3>Two Way Binding Base Class</h3>

<div>
    <EditForm EditContext="@editContext">

        <InputNumber @bind-Value="calcNumbers.Number1" />
        +
        <InputNumber @bind-Value="calcNumbers.Number2" />
        =
        <InputNumber @bind-Value="calcNumbers.Result" />
    </EditForm>
</div>